Q1. HOW DO YOU COMMENT CODE IN PYTHON? WHAT ARE THE DIFFERENT TYPES OF COMMENTS?

ANS:--There are two type of comment in python


a. single line comment

In [4]:
# THis is my 3rd class
# Machine learning 
# Deep learning
# Natural language processing
# scala 
# kafka 
# hadoop
# Github

b. Double line comment

In [5]:
"""THis is my 3rd class
Machine learning 
Deep learning
Natural language processing
kafka 
hadoop
Github"""

'THis is my 3rd class\nMachine learning \nDeep learning\nNatural language processing\nkafka \nhadoop\nGithub'

Q2. WHAT ARE VARIABLE IN PYTHON? HOW DO YOU DECLARE AND ASSIGN VALUE TO VARIABLE?


ANS:-- The variable is:-
example  a =[343,645,6,646,"skills"]
in this list 'a' is a variable and all the integer and string is a assign value.

In [89]:
age = 25 #age is a variable

In [90]:
age

25

Q3. HOW DO YOU CONVERT AND DATA TYPE TO ANOTHER IN PYTHON?

Ans

In [171]:
 l = [1,4,5,78.9,"pwskills","data science",True]

In [190]:
l

[1, 4, 5, 78.9, 'pwskills', 'data science', True]

In [191]:
type(l)

list

In [192]:
l[3]

78.9

In [193]:
type(l[3])

float

In [194]:
str(l[3])

'78.9'

In [195]:
l[5]

'data science'

In [210]:
list(l[5])  #i dont know execute data science in individual form I am running code again but always show this

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [206]:
set(l[5])

{' ', 'a', 'c', 'd', 'e', 'i', 'n', 's', 't'}

In [197]:
set(l) #change list to set

{1, 4, 5, 78.9, 'data science', 'pwskills'}

In [198]:
tuple(l) #change list to tuple

(1, 4, 5, 78.9, 'pwskills', 'data science', True)

In [199]:
h = "pwskills"

In [200]:
h

'pwskills'

In [201]:
type(h)

str

In [205]:
float(True) #change boolean value to floating number

1.0

In [203]:
x = int(3.24)

In [118]:
a = 34

In [119]:
a

34

In [120]:
type(a) #change integer to string.

int

In [121]:
a = str(34)

In [122]:
type(a)

str

In [123]:
b = "PWSKILLS"

In [124]:
b

'PWSKILLS'

In [126]:
c = list("hello")

In [92]:
type(c)

list

In [94]:
e = list({2,3,5,6,4})

In [95]:
e

[2, 3, 4, 5, 6]

Q4. HOW DO YOU WRITE AND EXECUTE A PYTHON  SCRIPT FROM THE COMMAND LINE?

In [49]:
 l = "Data science"

In [50]:
l

'Data science'

Q5. Given a list my_list = [1,2,3,4,5], write the code to slice the list and obtain the sub-list[2,3]

In [51]:
my_list = [1,2,3,4,5]

In [52]:
my_list

[1, 2, 3, 4, 5]

In [96]:
sub_list = my_list[1:3]

In [127]:
sub_list #slicing index

[2, 3]

Q6.What is a complex number in mathematics, and how is it represented in python?

ans:- the complex in mathemetics example :- 4+4j,2+5j,3+6j is example of complex number. and 4,2,3 is a real part and 4j,5j,6j is a imaginary part and here is the some code how to execute in python.

In [99]:
c = 34+5j #34 is a real part of complex number and 5j is a imag part of complex number

In [100]:
c

(34+5j)

In [67]:
type(c)

complex

In [68]:
c.real

34.0

In [65]:
c.imag

5.0

Q7. what is the correct way to declare a variable named age and assign the value 25 to it?

In [101]:
age = 22

In [128]:
age

22

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

ans:- This variable belong to floating data types.Floating types just use for weight,Thermometer etc.

In [211]:
p = 9.99 #9.99 is a floating number

In [130]:
type(p)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [107]:
name = "Md Salman Reyaz"

In [109]:
name

'Md Salman Reyaz'

In [131]:
type(name)

str

Q10. Given the string "Hello World!", extract the substring "World".

In [156]:
python = "Hello,World!"

In [157]:
python

'Hello World!'

In [158]:
python[6:11]

'World'

In [159]:
substring = python[6:11]

In [160]:
substring

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [85]:
is_student = True #yes i'm a student

In [86]:
is_student

True